// .product--responsive.active {

// }

.product--responsive {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .product--responsive__container {
    width: 21.2rem;
    height: 21.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;

    .product--responsive__image {
      width: 16.9rem;
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }

    .product--responsive__image2 {
      width: 12.9rem;

      img {
        width: 100%;
      }
    }
    .product--responsive__image-b {
      width: 4rem;

      img {
        width: 100%;
      }
    }
    .product--responsive__image-b2 {
      width: 8rem;

      img {
        width: 100%;
      }
    }

    .product--responsive__title {
      font-size: 1.5rem;
      // font-weight: 500;
      font-family: "LatoBold";
      line-height: 2.3rem;
      color: $color-primary-green;
      margin-bottom: 2.4rem;
      text-shadow: 0 1px 2px rgba($color-shadow, 0.3);
    }
    .product--responsive__price {
      font-size: 1.8rem;
      // font-weight: 400;
      font-family: "PoppinsRegular";
      line-height: 2.7rem;
      color: $color-primary-red;
      text-shadow: 0 1px 2px rgba($color-shadow, 0.3);
    }
  }
}
