.slide {
  //   border: 2px solid #70974c;
  //   background: #6f9e96;
  min-width: 100%;
  //   padding: 0 4rem;
  min-height: 450px;
  transition: 0.3s ease-out;

  .slide-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .slide--text {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 5rem;
  }

  .slide--title {
    width: 55.5rem;
    position: relative;
    font-size: 5rem;
    font-weight: 500;
    line-height: 7.6rem;
    color: #a2c3aa;
    margin-bottom: 8rem;
  }

  .slide--subtitle {
    position: absolute;
    color: #ffa5c1;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.8rem;
    text-transform: uppercase;
    right: 6px;
    bottom: -25px;
  }
  .slide--subtitle__second {
    right: 47%;
  }

  .slide--menu__list-left {
    margin-right: 10.4rem;
  }

  .slide--menu__title {
    margin-bottom: 1.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.7rem;
    color: #ffa5c1;
    text-transform: uppercase;
  }

  .slide--menu__list-items {
    list-style: none;
    li {
      font-size: 1.8rem;
      color: #a2c3aa;
      margin-left: 1.5rem;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        background-color: #ffa5c1;
      }
    }
  }

  .logo--wrapper {
    height: 5rem;
    margin-bottom: 5.3rem;
    img {
      height: 100%;
    }
  }
  .slide--menu {
    display: flex;
  }

  .slide--image {
    width: 58.2rem;
    margin-top: 7rem;
    margin-right: 1.8rem;
    position: relative;
    .slide--image__title {
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 3.8rem;
      text-transform: uppercase;
      color: #ffa5c1;
      position: absolute;
      top: -46px;
      right: 0px;
    }
    img {
      width: 100%;
    }
  }
}
