.map--wrapper {
  // width: 50rem;
  // height: 30rem;
  width: 35vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: 1360px) {
    width: 42vw;
  }

  .map--address {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 1.5rem;
    @media (max-width: 1360px) {
      width: 42vw;
      margin-right: 1rem;
    }

    .map--address__icon-wrapper {
      font-size: 2rem;
      color: $color-primary-red;
      margin-right: 1rem;
    }

    .map--address__text {
      font-size: 1.5rem;
      // font-weight: 400;
      font-family: "PoppinsRegular";
      line-height: 2.3rem;
      color: $color-primary-green;
      margin-bottom: 1.3rem;
      text-shadow: 0 1px 1px rgba($color-shadow, 0.3);
      .map--address_text-right {
        margin-left: 17.3rem;
      }
    }
  }
  .map--phone-nr {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.8rem;
    // font-weight: 400;
    font-family: "PoppinsMedium";
    line-height: 2.7rem;
    color: $color-primary-red;
    margin-top: 4rem;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba($color-shadow, 0.3);

    .map--phone-nr__icon-wrapper {
      font-size: 1.8rem;
      color: $color-primary-green;
      transform: rotate(45deg);
      margin-right: 1rem;
      filter: drop-shadow(0 1px 2px rgba($color-shadow, 0.3));
      &:hover {
        color: $color-primary-red;
      }
    }
  }
}
