$default-font-size: 1.6rem;
$nav-font-size: 1.8rem;

// colors
$primary-color-green: #a2c3aa;
$primary-color-pink: #ffa5c1;

$social-media-green: #a9c1af;

$color-green: #6abe7f;
$color-green2: #b2d8bc;

$green-color-dark: #73937b;
$green-color-dark2: #539564;
$green-color-dark3: #457e54;

$pink-color-dark: #c67e94;

$color-green-shadow: #168c34;
