* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "PoppinsRegular", "Lato-Regular", sans-serif;
  scroll-behavior: smooth;
}
body {
  max-width: 1366px;
  margin: 0 auto;
  // background-color: #fefedf;
  background-color: #fbfbfd;
}

// .layout--container {
//   max-width: 1366px;
//   margin: 0 auto;
// }

.main-content {
  min-height: calc(100vh - 18rem - 84rem);
}

.message--wrapper {
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  &.success {
    background-color: #c2ffc2;
    color: #6db86d;
  }
  &.error {
    background-color: #ffc2c2;
    color: #c75d5d;
  }
}

@media (max-width: 620px) {
  body {
    width: 100%;
    padding: 0 4rem;
  }
  // .layout--container {
  //   width: 100%;
  //   padding: 0 4rem;
  // }
}
